*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/src/main/java/sparespark/crypto/currency/core/Constants.kt
/app/src/main/java/sparespark/crypto/currency/core/Secret.kt
/app/src/main/java/sparespark/crypto/currency/presentation/coinslist/components/TopInfoTitle.kt
/app/src/main/java/sparespark/crypto/currency/presentation/coindetails/components/TopRankTitle.kt

